@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	hsl(222, 71%, 14%);
    color: white;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: background-color 3s;
}

@media (max-width: 824px){
header {
    margin-right: 0px;
    justify-content: space-around;
    }
}

a {
    text-decoration: none;
    color: white;
    color: inherit;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

@media (max-width: 824px){
    a {
        font-size: 50%;
    }
}

.navlist > li {
    display: inline-block;
    margin-left: 30px;
}

@media (max-width: 824px){
    .navlist > li {
        display: flex;
        flex-direction: column;
    }
}

.right {
    border: solid 1px white;
    padding: 10px 30px;
    border-radius: 10px;
}

@media (max-width: 824px){
    .right {
        padding: 5px 20px;
    }
}

header:hover {
    background-color: white;
    color: hsl(222, 71%, 14%);
    
}

a:hover {
    color: hsl(224, 100%, 50%);
    transition: 1s;
} 

.right:hover {
    border: solid 1px;
    border-color: inherit;
    padding: 10px 30px;
    border-radius: 10px;
}

h1 {
    font-family: 'Niconne', cursive;
    font-size: 60px;
}

@media (max-width: 824px){
    h1 {
        font-size: 150%;
    }
}

main {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}


h3 {
    font-weight: bold;
    font-size: 20px;
}  

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}

.maingrid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    column-gap: 3%;
}


.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20%;
    padding-left: 30px;
}

@media (max-width: 824px){
    .subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}

h2 {
    font-size: 100%;
    margin-bottom: 25px;
}


.firstp {
    font-size: 100%;
    margin-bottom: 45px;
}

@media (max-width: 824px){
    .firstp {
        font-size: 100%;
    }
}

.image {
    width: 80%;
}

@media (max-width: 824px){
    .image {
        width: 100%;
    }
}

.image:hover {
    width: 90%;
    transition: 1s;
    cursor: pointer;
}

.bigimage {
    width: 90%;
}

@media (max-width: 824px){
    .bigimage {
        display: flex;
        align-content: center;
    }
}

.bigimage:hover {
    width: 100%;
    transition: 1s;
    cursor: pointer;
}

h3 {
    font-size: 170%;
    margin: 30px;
    margin-top: 50px;
}

.secondp {
    font-size: 100%;
}

.midsection {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 150px;
    background-color: hsl(222, 71%, 14%);
    padding: 40px;
    padding-left: 8%;
    color: white;
    text-align: center;
    align-items: center;
}

.midimage {
    width: 60%;
}

.midimage:hover {
    width: 70%;
    transition: 1s;
    cursor: pointer;
}

.midright {
    padding-right: 50%;
    padding-top: 50px;
}

.midp {
    padding: 30px;
}

.stream {
    text-decoration: underline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.bottomgrid {
    font-family: 'Ubuntu', sans-serif;
    font-size: 170%;
    font-weight: bold;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    padding: 50px;
    column-gap: 3%;
}

.bottomgrid > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
}

.bottomgrid > span > a {
    font-size: 50%;
}

h4 {
    padding-bottom: 20px;
}

.bottombuttons {
    border: solid 1px hsl(222, 71%, 14%);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.mickey {
    width: 30%;
}

#login {
    background-color: hsl(222, 71%, 14%);
    color: white;
}

.copyright {
    padding: 40px;
    padding-left: 90px;
}

.socials {
    font-size: 100%;
    font-weight: bold;
}

.footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}