@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	hsl(222, 71%, 14%);
    color: white;
    padding: 20px;
}


a {
    text-decoration: none;
    color: white;
    color: inherit;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.navlist > li {
    display: inline-block;
    margin-left: 30px;
}

.right {
    border: solid 1px white;
    padding: 10px 30px;
    border-radius: 10px;
}

header:hover {
    background-color: white;
    color: hsl(222, 71%, 14%);
    transition: 3s;
}

a:hover {
    color: hsl(224, 100%, 50%);
    transition: 1s;
} 

.right:hover {
    border: solid 1px;
    border-color: inherit;
    padding: 10px 30px;
    border-radius: 10px;
}

h1 {
    font-family: 'Niconne', cursive;
    font-size: 60px;
}

main {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}  

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}

.maingrid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 3%;
}

.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20%;
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

.firstp {
    font-size: 25px;
    margin-bottom: 45px;
}

.image {
    height: 200px;
}

.image:hover {
    height: 240px;
    transition: 1s;
    cursor: pointer;
}

.bigimage {
    height: 400px;
}

.bigimage:hover {
    height: 440px;
    transition: 1s;
    cursor: pointer;
}

h3 {
    font-size: 28px;
    margin: 30px;
    margin-top: 50px;
}

.secondp {
    font-size: 22px;
}

.midsection {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 150px;
    background-color: hsl(222, 71%, 14%);
    padding: 40px;
    padding-left: 8%;
    color: white;
    text-align: center;
}

.midimage {
    height: 400px;
}

.midimage:hover {
    height: 440px;
    transition: 1s;
    cursor: pointer;
}

.midright {
    padding-right: 50%;
    padding-top: 50px;
}

.midp {
    padding: 30px;

}

.stream {
    text-decoration: underline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}